<table class="h-table">
  <thead class="h-head">
  <tr>
    <td><%= translate 'user'%></td>
    <td><%= translate 'start' %></td>
    <td><%= translate 'end' %></td>
    <td><%= translate 'count' %></td>
    <td><%= translate 'action' %></td>
  </tr>
  </thead>
  <tbody class="h-body">
  <% @holidays.each do |row| %>
    <tr>
      <td><%= row.user.blank? ? '' : row.user.login.to_s %></td>
      <td><%= row.start.blank? ? '' : format_date(row.start.to_date) %></td>
      <td><%= row.end.blank? ? '' : format_date(row.end.to_date) %></td>
      <td><%= row.holidays.count %></td>
      <td>
        <a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/edit?id=<%= row.id.to_s %>"><%= translate 'edit' %></a>
        &nbsp;
        <a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/destroy?id=<%= row.id.to_s %>"><%= translate 'destroy' %></a>
      </td>
    </tr>
  <% end %>
  <% if @holidays_pages.multiple_pages? %>
    <tr class="h-paginate">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays?page=<%= @holidays_pages.previous_page %>"><%= translate 'prev' %></a>
        &nbsp;
        <a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays?page=<%= @holidays_pages.next_page %>"><%= translate 'next' %></a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>