<link rel='stylesheet' href='<%= Setting.plugin_mega_calendar['sub_path'] %>plugin_assets/mega_calendar/javascripts/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' href='<%= Setting.plugin_mega_calendar['sub_path'] %>plugin_assets/mega_calendar/javascripts/qtip2/jquery.qtip.min.css' />

<style>
  .h-table {
    width: 100%;
  }

  .h-head {
    font-weight: bold;
  }

  .h-head td {
    border-bottom: 1px solid #dddddd;
  }

  .h-body tr:first-child td {
    padding-top: 15px;
  }

  .h-paginate {
    padding-top: 15px;
  }

  .fc a {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    height: 2.1em;
    padding: 0.3em .6em;
    font-size: 1em;
    white-space: nowrap;
    cursor: pointer;
    color: #333333;
  }

  .fc a:hover {
    text-decoration: none;
  }
</style>

<div class="contextual">
  <a class="icon icon-add new-holiday" href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/new">New holiday</a>
</div>

<h2><%= translate 'holidays' %></h2>

<div class="fc" style="height: 40px;">
  <div class="fc-toolbar">
    <div class="fc-left">
      <div class="fc-button-group">
        <a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays?<%= @toolbar_params.except(:my).to_query %>" class="fc-button fc-state-default fc-corner-left <%= 'fc-state-active' unless params.key?(:my) %>">All holidays</a>
        <a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays?<%= @toolbar_params.merge(my: true).to_query %>" class="fc-button fc-state-default fc-corner-left <%= 'fc-state-active' if params.key?(:my) %>">My holidays</a>
      </div>
    </div>

    <div class="fc-right">
      <div class="fc-button-group">
        <a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays?<%= @toolbar_params.except(:grouped).to_query %>" class="fc-button fc-state-default fc-corner-left <%= 'fc-state-active' unless params.key?(:grouped) %>">List</a>
        <a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays?<%= @toolbar_params.merge(grouped: true).to_query %>" class="fc-button fc-state-default fc-corner-right <%= 'fc-state-active' if params.key?(:grouped) %>">Groups by years</a>
      </div>
    </div>
  </div>
</div>

<% if params[:grouped] %>
  <%= render 'holidays/groups' %>
<% else %>
  <%= render 'holidays/list' %>
<% end %>